

    <%- include('partials/header.html') %>


        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <h2>Quer fugir das praias de verão?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur libero nunc.</p>
                    </div>
                    <img src="/public/images/landscape.jpg">
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticias">
                <h2>Últimas notícias</h2>
                <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png" />
                            <div class="conteudo-noticias-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf em Floripa</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis nisi in nisl consequat imperdiet. Duis velit ex, pharetra ut tempus eu, viverra non lectus.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png" />
                            <div class="conteudo-noticias-single">
                                <h3>Natureza e Geral</h3>
                                <h2>Como encarar o surf em Floripa</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis nisi in nisl consequat imperdiet. Duis velit ex, pharetra ut tempus eu, viverra non lectus.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis nisi in nisl consequat imperdiet.</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis nisi in nisl consequat imperdiet.</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis nisi in nisl consequat imperdiet.</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis nisi in nisl consequat imperdiet.</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>

    </body>

</html>
